@import "mixins";
// Cadran Metal

.metal {

   .cadran {
      background: url('../img/metal/cadran.svg') no-repeat center;
      background-size: 229% 230%;
   }

   .graph-container {
      width: 100%;
      height: 100%;
      background: $radialColor;
      .graph {
         @include centerItemX($centerValue);
         top: 16%;
         width: 70%;
         height: 54%;
      }
   }

   .btn-draw {
      bottom: 14px;
      padding: 3px 6px;
      color: $activeColor;
      text-transform: uppercase;
      border: 1px solid $mainColor;
      z-index: 10;
      cursor: pointer;
      @include border(3px);
      @include fontUse($fontFamilly, 9px, $fontWeight);
      @include centerItemX($centerValue);
      pointer-events: none;
   }

   &.focus-left {
      .btn-draw {
         bottom: 27px;
         font-size: 25px;
         pointer-events: auto;
         cursor: pointer;
      }
      .metal-name{
        position: absolute;
        top: 20%;
        @include fontUse($fontFamilly, 15px, $fontWeight);
        &.fe{
            left: 37%;
        }
        &.pb{
            left: 48%;
        }
        &.cu{
            left: 63%;
        }
        &.sn{
            left: 70%;
        }
      }
   }
}
