// Base
$marge: 2px;
$centerValue: 50%;
$timeAnimation: 0.3s;

// Font
$fontFamilly: 'Arial';
$fontWeight: 100;

// Cadrans
$tailleCadranSmall: 150px;
$tailleCadranFocus: 300px;
$centrageYCadrans: 45%;

// Couleurs
$mainColor: #dcffab;
$secondColor: #717960;
$activeColor:#c3f900;
$radialColor: radial-gradient(#dcffab, #b7d685);
