<!-- Map PANEL -->
<div class="map-panel">
        <form>
            <fieldset>
                <legend>Time slot</legend>
                From: Day <input type="date" value="2017-02-17" name="dataStartDay" class="start-day"> Time <input type="time" name="dataStartTime" class="start-time"><br>
                <br>
                To: Day <input type="date" value="2017-02-18" name="dataStopDay" class="stop-day"> Time <input type="time" name="dataStopTime" class="stop-time"><br>
                <div class="btn-play" ng-class="{on:playData}" ng-click="playData=!playData">Play</div>
                <div class="btn-load" style="left:40%" ng-click="extractData()">Load</div>
                <br><br>
            </fieldset>
            <br>
            <fieldset>
                <legend>Data to display</legend>
                General:<br>
                <div class="btn-path" ng-click="displayPath=!displayPath" ng-class="{on:displayPath}">Path</div>
                <div class="btn-vi" ng-click="displayVa=!displayVa" ng-class="{on:displayVa}" style="left: 23%">V-A</div>
                <div class="btn-rec" ng-click="displayMovie=!displayMovie" ng-class="{on:displayMovie}"style="left:39%">Movie</div>
                <br><br><br>
                V-A data:<br>
                <div class="btn-fe" ng-click="displayFe=!displayFe" ng-class="{on:displayFe}">Fe</div>
                <div class="btn-pb" ng-click="displayPb=!displayPb" ng-class="{on:displayPb}" style="left: 17%">Pb</div>
                <div class="btn-cu" ng-click="displayCu=!displayCu" ng-class="{on:displayCu}" style="left: 30%">Cu</div>
                <div class="btn-sn" ng-click="displaySn=!displaySn" ng-class="{on:displaySn}" style="left: 44%">Sn</div>
                <br><br><br>
                Nose data:<br>
                <div class="btn-magnetism" ng-click="displayMagn=!displayMagn" ng-class="{on:displayMagn}">Magnetism</div>
                <div class="btn-turbidity" style="left: 41%" ng-click="displayTurbi=!displayTurbi" ng-class="{on:displayTurbi}">Turbidity</div>
                <br><br><br>
            </fieldset>
            <br>
            <fieldset>
                <legend>Informations</legend>
                <fieldset style="position:absolute;top:65%;right:3%;height:29%;width:45%">
                    <legend>{{graphName}}</legend>
                    <div style="height: 80%; width: 93%;position:absolute;left:2%;top:15%;">
                        <canvas style="height:100;width:110;"></canvas>
                        <div class="metal-vi fe" ng-class="{on:vaCursor}">Fe</div>
                        <div class="metal-vi pb" ng-class="{on:vaCursor}">Pb</div>
                        <div class="metal-vi cu" ng-class="{on:vaCursor}">Cu</div>
                        <div class="metal-vi sn" ng-class="{on:vaCursor}">Sn</div>
                    </div>
                </fieldset>
                Bubblot: {{bubblotCursor}}<br><br>
                Day: {{dateCursor[2]}}/{{dateCursor[1]}}/{{dateCursor[0]}}<br><br>
                Time: {{dateCursor[3]}}:{{dateCursor[4]}}<br><br>
                Lat.: {{(latitudeCursor/30).toFixed(3)}}°<br><br>
                Long.: {{(longitudeCursor/30).toFixed(3)}}°<br><br>
                Depth: {{depthCursor}} m<br><br>
                Temp.: {{tempCursor}} °C<br>
            </fieldset>
        </form>
</div>