<div id="message" class="cadran-message">
    <form>
        <div class="message-title">MESSAGE FOR DIVERS</div>
        <input style="width:100%" type="text">
        <div class="predefined-messages" ng-click="displayListEmo=!displayListEmo">EMOTICONS</div>
        <table class="emoticons-list">
            <tr>
                <td>
                    <div class="message-cell happy" ng-click="printHappy()"></div>
                </td>
                <td>
                    <div class="message-cell nice" ng-click="printNice()"></div>
                </td>
                <td>
                    <div class="message-cell sad" ng-click="printSad()"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="message-cell pacman" ng-click="printPacman()"></div>
                </td>
                <td>
                    <div class="message-cell hublot" ng-click="printHublot()"></div>
                </td>
                <td>
                    <div class="message-cell"></div>
                </td>
            </tr>
        </table>
    </form> 
</div>